:root {
  --background: #191b20;
  --background-switch: #2d3038;
  --font-color: #fff;
}
body {
  width: 450px;
  height: 30%;
  background-color: var(--background);
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: var(--font-color);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(212, 209, 209);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--background-switch);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--background-switch);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* Button */
button {
  background-color: var(--background);
  color: var(--font-color);
  border-radius: 5px;
  padding: 11px 0 12px 0;
}
